<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="false" bootstrap="bootstrap.php">

    <testsuite name="Application tests">
        <directory>.</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../../application</directory>
            <directory suffix=".php">../../library</directory>
            <exclude>
            </exclude>
        </whitelist>
    </filter>

<!--
     <logging>
        <log type="coverage-html" target="../../../test-reports" charset="UTF-8" yui="true" highlight="true"
            lowUpperBound="50" highLowerBound="80" />
    </logging>
 -->
    <listeners>
        <listener class="Lagged_Test_PHPUnit_ControllerTestCase_Listener" file="Lagged/Test/PHPUnit/ControllerTestCase/Listener.php" />
    </listeners>
    
</phpunit>